<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="macskaFrom">
    <form method="post">
        <h2>Macska adatai</h2>
    <label for="name" > Súly <br>
        <input type="number" name="weight">
    </label> <br>

    <label for="type" > Szem szín <br>
        <input type="color" name="eyescolor">
    </label> <br>
    <nav>
      <a href="/views/list.ejs">Vissza a főoldalra</a> |
      </nav>
    <button style="margin-top: 20px; width: 100px; height: 30px;" type="submit">Küldés</button>
    </form>
</div>
</body>
</html>
